<%- include("partials/header") %>

<h2 class="page-title">✏ Update Task</h2>

<form action="/update-todo/<%= todo._id %>" method="POST" class="form-card">
    <input type="text" name="title" value="<%= todo.title %>" required>
    <textarea name="desc"><%= todo.desc %></textarea>

    <button type="submit" class="btn primary">Update Task</button>
</form>

<%- include("partials/footer") %>